body{
    margin: 0;
    padding: 0;
    background: #eee url('../resources/images/bg_effect.png') center top no-repeat;
}
.App{padding:30px; border:1px solid #888; background: #0BF;}
.fontIcons{line-height: 0}